body {
    background-color: rgb(121,139,0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    width: 200px;
    height: 100px;
}
#FIA {
    height: 100px;
    margin-right: 0;
    margin-left: auto;
    display: block;
}
#szoveg {
    margin-right: 200px;
}
#autospec {
    margin-right: 500px;
}

